<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/update.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Platypi:wght@300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>@<%=post.username%>`s POST</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/assets/anime.webp" alt="error" class="navImg" />
        <span class="galleryTitle">ANIME GALLERY</span>
      </div>
      <div class="links">
        <a href="http://localhost:8080/posts"><i class="fa-solid fa-house"></i> Home</a>
        <a href="http://localhost:8080/posts/update/<%=post.id%>" class="update"
          ><i class="fa-solid fa-pen-to-square"></i> Update</a
        >
        <a href="#"><i class="fa-solid fa-circle-info"></i> Info</a>
      </div>
    </nav>
    <div class="gallery">
      <h3 class="username2">@<%=post.username%></h3>
      <h4 class="caption seeAllCaption">❝<%=post.thaught%>❞</h4>
      <div class="container">
        <% for( let index = 0; index < post.image.length; index ++) { %>
        <div class="seeImg">
          <img src="<%=post.image[index]%>" alt="" />
        </div>
        <% } %>
      </div>
    </div>

    <footer>
      <p>Copyright © 2024, Anime Gallery, Sonu Sharma</p>
    </footer>
  </body>
</html>
